<div class="container">
    <div class="content">

        <div class="info">
            <div class="dialog-close">
              
                <img src="/assets/Images/cerrar.png" width="12" class="" style="cursor: pointer;" (click)=onClose()>
            </div>
            <div class="info-login">
                <span class="title">Actualizar la <label class="desc">contraseña</label></span>

                <div class="action">

                    <div class="col" style="text-align: initial;line-height: 13px;">
                        <span style="font-size: 15px;color: #898989;">Debe contener al menos un símbolo o número y tener
                            8 caracteres como mínimo.</span>
                    </div>

                    <div class="col mt-4">
                        <span class="pais">Contraseña</span><br />
                            <p-password [(ngModel)]="contras" (keyup)="validpassword()" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                                [toggleMask]="true" autocomplete="off"
                                promptLabel="Ingresa tu contraseña"
                                weakLabel="Demasiado simple"
                                mediumLabel="Complejidad media"
                                strongLabel="Contraseña compleja"
                                strongRegex="^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[_\W]).*$"
                                mediumRegex="^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$"> 
                                <ng-template pTemplate="header">
                                    <h6>Ingresa tu contraseña</h6>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <p-divider></p-divider>
                                    <p class="mt-2">Sugerencias</p>
                                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                        <li>Al menos una minúscula</li>
                                        <li>Al menos una mayúscula</li>
                                        <li>Al menos un número</li>
                                        <li>Al menos un carácter especial</li>
                                        <li>Mínimo 8 caracteres</li>
                                    </ul>
                                </ng-template>
                            </p-password>
                            <div class="raya"></div><br />
                    </div>




                    <div class="col mt-2">
                        <span class="pais">Vuelve a introducir tu contraseña</span><br />
                            <p-password [(ngModel)]="contraVal" (keyup)="validpasswordRepeat()" 
                            [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                            autocomplete="off" placeholder="Ingresa tu contraseña" [toggleMask]="true"
                            [feedback]="false" (paste)="false"></p-password>
                            <div class="raya"></div>
                            <span *ngIf="valPass" id="" style="font-size: 13px;color: red;"> {{textpass}}</span><br />
                    </div>



                    <div class="col mt-4">
                        <div (click)="validCampo()" id="conti"
                            style="text-align: center;cursor: pointer;pointer-events: none; background: -webkit-linear-gradient(left, #ed1c23 0, #b01738 36%, #3c4749 100%); text-align: center;line-height: 40px;border-radius: 7px 0px;">
                            <span style="color: white;font-weight: 400;">Actualizar</span>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>