.content {
    display: flex;
}

.container{
    width: 500px !important;
}

.login-image {
    width: 50%;
}

.info {
    padding: 16px;
    width: 100%;
}

.title {
    text-align: center;
    font: 28px/28px medium;
    letter-spacing: 0px;
    color: black;
    opacity: 1;
}

.pais{
    text-align: center;
    font: 15px/15px medium;
    letter-spacing: 0px;
    color: black;
    opacity: 1;

}

.desc {
    text-align: center;
    font: 28px/28px medium;
    letter-spacing: 0px;
    color: #E82D56;
    opacity: 1;

}

.action {
    margin: 16px 0;
}

.loggin-button {
    margin: 12px 0;
    width: 100%;
}

.info-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    height: calc(100% - 24px);
}


.btn-google {
    background: #fff;
    border-radius: 20px;
    width: 278px;
    height: 40px;
    color: #757575;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    white-space: nowrap;
    justify-content: center;
}

.desc-google {
    margin-left: 0;
    margin-right: 12px;
    font-family: Roboto,arial,sans-serif;
    /* font-weight: bold; */
    padding-top: 1px;
    font-size: 13px;
    font-weight: 500;
}

.img-google {
    white-space: nowrap;
}


.btn-facebook {
    background: #1877f2;
    border-radius: 20px;
    width: 278px;
    height: 40px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.desc-facebook {
    margin-left: 0;
    margin-right: 12px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding-top: 1px;
    font-size: 13px;
}


::placeholder {
    color: #898989;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .raya {
    background: -webkit-linear-gradient(left, #ed1c23 0, #b01738 36%, #3c4749 100%);
    padding-left: 0 !important;
    padding-block: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 3px !important;
    position: relative;
    height: 3px;
}

.style {
    --mdc-linear-progress-active-indicator-color: #e70e0e;
    --mdc-linear-progress-track-color: rgb(13 231 112 / 25%);
}

.cajitas {
    width: 100%;
    padding: 15px;
    height: 38px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

.img-facebook {
    margin: 8px 8px 8px 12px;
    white-space: nowrap;
    width: 24px;
    height: 24px;
}

@media only screen and (max-width: 900px) {
    .login-image {
        display: none;
    }

    .info {
        width: 100%;
    }

}

@media only screen and (max-width: 400px) {
    .container {
        max-width: 378px !important;
    }
}