<div class="row m-0 p-0">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-0 p-0">
        <img src="assets/Images/hotel/persona.png"> 
        <span class="text-2 ml-3">¿Cómo podemos </span>
        <span class="text-1"> contactarte?</span>
    </div>
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-0 p-0">
        <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
    </div>
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-0 p-0 webDropDown webInformation">
        <div class="row m-0 p-0 mt-4">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12  p-0 ml-3 mt-2">
                <div class="row m-0 p-0 mt-2">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <input  type="text"  autocomplete="off" placeholder="Nombre(s)" pInputText [(ngModel)]="nameContact" />

                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <input  type="text"  autocomplete="off" placeholder="Correo electrónico" pInputText [(ngModel)]="correo" />
                  
                    </div>
                </div>
                <div class="row m-0 p-0 mt-4">
                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4">
                        <p-dropdown [options]="lstCountries" [filter]="true" filterBy="name" [(ngModel)]="prefix" optionValue="iataCode" optionLabel="name"></p-dropdown>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-8 col-8">
                        <input  type="text"  autocomplete="off" placeholder="Teléfono" pInputText [(ngModel)]="phone" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>