.price{
    font-family: Omnes-med;
    letter-spacing: 0;
    color: #828282;
    opacity: 1;
    font-size: 28px;
}

.currency{
    font-family: Omnes-med;
    letter-spacing: 0;
    color: #e32121;
    opacity: 1;
    font-size: 20px;
}

.text-info-price{
    font-family: Omnes-med;
    letter-spacing: 0;
    color: #828282;
    opacity: 1;
    font-size: 18px;
}

.term{
    text-decoration: underline;
    cursor: pointer;
    color: #0664e0;
}

.phone-input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.phone-prefix {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    white-space: nowrap; 
    pointer-events: none; 
}

.phone-input {
    margin-left: 0;
    width: 100%; 
    box-sizing: border-box; 
}