<div style="overflow: hidden;
margin: 14px 31px;">
    <div class="modal-header m-0 p-0" style="border: none;">
       
    </div>
    <div class="modal-body m-0 p-0">
        <div class="row m-0 p-0 text-center pt-4 pb-4 pl-2 pr-2">
            <div class="col-12 m-0 p-0 text-1">
               Superó el tiempo limite de espera.
            </div>
        </div>
    </div>
    <div class="row m-0 p-0 pb-1">
        <div class="col-12 m-0 p-0 text-center">
            <button (click)="regresarB();" class="btn btn-emitir">Ok</button>
        </div>
    </div>
</div>


