<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <!-- Comprueba si el archivo solicitado no existe -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <!-- Comprueba si el directorio solicitado no existe -->
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <!-- Redirige todas las solicitudes a index.html -->
          <action type="Rewrite" url="./index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>