<div class="row m-0 p-3 box-shadow">
    <div class="col-lg-12 col-md-12 col-sm-12 m-0 p-0 fae-text-1">
        <u class="fae-text-1">Aerolíneas</u>
    </div>
   
    <div class="col-lg-12 col-md-12 col-sm-12 m-0 p-0 mt-2 mb-2" *ngFor="let aerolinea of lstAerolineas;let i = index">

        <!-- <p-checkbox [label]="aerolinea.marketingName" name="group" [inputId]="'{{i}}_check'" (onChange)="filtrarAerolinea($event)" [value]="aerolinea.marketingCode"
            [(ngModel)]="selectedAirline" [clearFilter]="true"></p-checkbox> -->
            <p-checkbox [label]="aerolinea.marketingName" name="group" [inputId]="'{{i}}_check'" (onChange)="filtrarAerolinea($event)" [value]="aerolinea.marketingCode"
            [(ngModel)]="selectedAirline"></p-checkbox>

    </div>
</div>